@import "tailwindcss";

@font-face {
  font-family: "Plinko";
  src: url("/fonts/Plinko.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShirleyDoe";
  src: url("/fonts/ShirleydoePlain.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-plinko: "Plinko", sans-serif;
  --font-shirleydoe: "ShirleyDoe", sans-serif;
  --font-quicksand: var(--font-quicksand-loaded);
  --font-smooch-sans: var(--font-smooch-sans-loaded);
}

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
}